.container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), var(--tile-size));
  grid-template-rows: repeat(auto-fill, var(--tile-size));
  gap: var(--grid-gap);
}
